<!--Hinzufügen von Todos-->
<div>
    <mat-form-field appearance="outline">
        <input matInput placeholder="Todo" type="text" (keyup.enter)="createTodo(todoTitle.value); todoTitle.value=' '"  #todoTitle>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="createTodo(todoTitle.value); todoTitle.value=' '">Hinzufügen</button>
</div>
<!--Laden der Todoliste-->
 <form *ngFor = "let todo of todos; let i=index ">
    <mat-checkbox class="example-margin" color='primary' name="todo">
        <span *ngIf = "todo !== editTodo">{{todo.title}}</span>
        <input *ngIf = "todo === editTodo" [(ngModel)]="todo.title" name="todo" type="text" (keyup.enter)="workOnTodo()">
    </mat-checkbox> 
    <button mat-stroked-button color="warn" (mousedown)="delete(todo)">Löschen</button>
    <button mat-stroked-button color="primary" (click) = "edit(todo)">Bearbeiten</button>
</form>

