<div class='colum side'><br></div>
<div class='colum middle'>
  <h1>
    Todos:
  </h1>
  <div>
    <app-hinzugefuegt (add)='onAddTodo($event)'></app-hinzugefuegt>
    <mat-form-field appearance="outline" class="auswahl">
      <mat-select [(value)]='filter'>
        <mat-option value="Alle" >Alle</mat-option>
        <mat-option value="Erledigt">Erledigt</mat-option>
        <mat-option value="Offen">Offen</mat-option>
      </mat-select>
    </mat-form-field>
    <app-todos [todos]='todos' [filter]='filter' [todoOpen]='todoOpen'
      (toggleCompleted)='onToggleTodoComplete($event)' (remove)='onRemoveTodo($event)'
      (changeTitle)='onChangeTitle($event)' (abbrechen)='onAbbrechen($event)'>
    </app-todos>
  </div>
</div>